{
  "extends": "airbnb-base",
  "env": {
  "node": true,
  "es6": true,
  "jquery": true,
  "browser": true
  },
  "rules": {
    "no-unused-vars": "off",
    "no-trailing-spaces":"off",
    "no-console":"off",
    "no-debugger":"off"
  }
}